@charset "utf-8";

//思源黑體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
//初始化
//@import "../module/reset.scss";
//設定變數
@import '@/assets/sass/module/variable.scss';
//共用功能區
@import '@/assets/sass/module/mixins';

//@use "../module/channel";

//翻轉特效
//@use "./split_flip";

//swiper樣式
//@use "../module/swiper.scss";
