@charset 'utf-8';
/* 618 公版用 */
$dir: "https://events.cdn-tkec.tw/events_net/events_net/tv_media/images/";
$dir2: "https://events.cdn-tkec.tw/events_net/events_net/office3c/images/";

body {
  background: #ffe6d9;
}

.bg01 {
  background: #ef6c2b;
  border-radius: 10px;
  box-sizing: border-box;
}

.floor {
  .title {
    b {
      padding-top: 4%;
      box-sizing: border-box;
    }
  }
}

.background {
  $image: $dir + "BG_PC3.png";
  @include bg-responsive($image, 2000, 1488);
  position: relative;
  margin: 0 auto 0;
  background-position:
    0 45px,
    top;
  padding-bottom: 78%;
  .title {
    width: 28%;
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    animation-duration: 0.7s;
    img {
      animation: tada 1s linear;
      animation-delay: 0.8s;
    }
  }
  .product {
    width: 46%;
    height: 21vmax;
    position: relative;
    top: 28.5vmax;
    margin: 0 auto 0;
    overflow: hidden;
    .bg01 {
      background: none;
    }
    .swiper-pagination {
      .swiper-pagination-bullet,
      .swiper-pagination-bullet-active {
        background: #9d3be3 !important;
      }
    }
  }

  .items {
    position: absolute;
    &.i1 {
      width: 11%;
      left: 20%;
      top: 9%;
      animation: rotate-small 1.2s infinite alternate;
    }
    &.i2 {
      width: 11%;
      top: 22%;
      left: 8%;
      animation: rotate-small 1s infinite alternate;
    }
    &.i3 {
      width: 12%;
      top: 44%;
      left: 12%;
      animation: rotate-small 0.6s infinite alternate;
    }
    &.i4 {
      width: 12%;
      top: 13%;
      left: 1%;
      animation: rotate-small 1.3s infinite alternate;
    }
  }

  .girl {
    width: 25%;
    position: absolute;
    right: 7%;
    top: 8%;
    animation-duration: 0.9s;
  }

  &.other {
    $image: $dir2 + "BG_PC.png";
    @include bg-responsive($image, 2000, 1551);
    padding-bottom: 53%;
    .title {
      top: 12%;
    }
  }

  &.summer {
    $image: $dir + "kv_bg2.jpg";
    @include bg-responsive($image, 2000, 1027);
    padding-bottom: 74%;
    .background2 {
      width: 100%;
      height: 100%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position:
        0 27vmax,
        top;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .title {
      width: 40%;
      top: 5%;
      img {
        animation: blurFadeIn 1.5s ease-in;
        animation-delay: 1s;
      }
    }
    .product {
      .swiper-pagination {
        .swiper-pagination-bullet,
        .swiper-pagination-bullet-active {
          background: #10c26b !important;
        }
      }
    }
  }

  &.summer-other {
    $image: $dir + "kv_bg2.png";
    @include bg-responsive($image, 2000, 954);
    padding-bottom: 74%;
  }
}

@include media-query("mobile", "1600px") {
  .background {
    background-size: 120% auto;
    background-position:
      -10vw 3vw,
      top;
    padding-bottom: 90%;
    .title {
      width: 35%;
    }
    .product {
      width: 55%;
      height: 25vmax;
      top: 36vmax;
    }
    .girl {
      right: 2%;
      top: 14%;
    }
    .items {
      &.i3 {
        left: 4%;
      }
    }
    &.other {
      background-size: 120% auto;
      background-position:
        -10vw 3vw,
        top;
      padding-bottom: 67%;
    }
    &.summer {
      background-size: 120% auto;
      background-position:
        -10vw 3vw,
        top;
      padding-bottom: 86%;
      .title {
        width: 45%;
      }
      .board {
        top: 33vw;
      }
      .product {
        top: 33.5vw;
      }
      .background2 {
        background-position:
          0 35vw,
          top;
      }
    }
  }
}

@include media-query("mobile", "1025px") {
  .background {
    .product {
      width: 56%;
      height: 25vw;
      top: 36.5vw;
    }
    .girl {
      width: 30%;
      right: 0;
      top: 13vw;
    }
    &.summer {
      .board {
        width: 63%;
      }
      .title {
        width: 45%;
        top: 5vw;
      }
    }
  }
}

@include media-query("mobile", "992px") {
  .background {
    background-size: 180% auto;
    background-position:
      -40vw 4vw,
      top;
    padding-bottom: 138vw;
    .board {
      .pc {
        display: block !important;
      }
      .mobile {
        display: none !important;
      }
    }

    .title {
      width: 53%;
      top: 12vw;
    }
    .product {
      width: 84%;
      height: 38vw;
      top: 53vw;
    }
    .girl {
      width: 30%;
      right: -10vw;
      top: 29vw;
    }
    .items {
      &.i1 {
        width: 14%;
        left: 10vw;
        top: 9vw;
      }
      &.i2 {
        width: 14%;
        top: 34vw;
        left: 5vw;
      }
      &.i3 {
        width: 12%;
        top: 8vw;
        right: 3vw;
        left: unset;
      }
      &.i4 {
        width: 15%;
        top: 23vw;
        left: 1vw;
      }
    }
    &.other {
      background-size: 180% auto;
      background-position:
        -40vw 4vw,
        top;
      padding-bottom: 98vw;
      .title {
        top: 12vw;
      }
    }
    &.summer {
      background-size: 180% auto;
      background-position:
        -40vw 4vw,
        top;
      padding-bottom: 135vw;
      .title {
        width: 70%;
        top: 8vw;
      }
      .board {
        width: 95%;
        top: 52vw;
      }
      .product {
        width: 85%;
        height: 38vw;
        top: 53vw;
      }
      .background2 {
        background-size: 190% auto;
        background-position:
          -46vw 53vw,
          top;
      }
    }
  }
}

@include media-query("pad", "577px", "610px") {
  .background {
    .product {
      width: 90%;
    }
    &.summer {
      .product {
        width: 90%;
      }
    }
  }
}

@include media-query("mobile", "576px") {
  .background {
    background-size: 350% auto;
    background-position:
      -126vw 20vw,
      top;
    padding-bottom: 280vw;
    .board {
      .pc {
        display: none !important;
      }
      .mobile {
        display: block !important;
      }
    }
    .title {
      width: 80%;
      top: 27vw;
    }
    .product {
      width: 75%;
      height: 92vw;
      top: 95vw;
      .swiper-slide {
        width: 100% !important;
      }
      .swiper-pagination {
        bottom: 0 !important;
      }
    }
    .girl,
    .items {
      display: none;
    }
    &.other {
      background-size: 350% auto;
      background-position:
        -126vw 20vw,
        top;
      padding-bottom: 200vw;
      .title {
        top: 27vw;
      }
    }
    &.summer {
      background-size: 280% auto;
      background-position:
        -96vw 16vw,
        top;
      padding-bottom: 231vw;
      .title {
        width: 100%;
        top: 23vw;
      }
      .board {
        top: 87vw;
      }
      .product {
        width: 90%;
        height: 64vw;
        top: 88vw;
        .swiper-slide {
          width: calc(100% / 2 - 3px) !important;
        }
      }
      .background2 {
        background-size: 300% auto;
        background-position:
          -100vw 86vw,
          top;
      }
    }
  }
}

@include media-query("pc", "2000px") {
  .background {
    .product {
      width: 49%;
    }
  }
}

@include media-query("pc", "2500px") {
  .background {
    &.summer {
      padding-bottom: 76%;
    }
  }
}
