@charset "utf-8";
$dir: "https://events.cdn-tkec.tw/events_net/events_net/IGD2024/images/";
$origin: "https://events.tk3c.com/events_net/events_net/IGD2024/images/";
$ori_acer: "https://events.cdn-tkec.tw/events_net/events_net/IGD2024/images/acer/";
$ori_msi: "https://events.cdn-tkec.tw/events_net/events_net/IGD2024/images/msi/";
$ori_lenovo: "https://events.cdn-tkec.tw/events_net/events_net/IGD2024/images/lenovo/";

/*  共用樣式調整 */
body {
  background: #05054b;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    $image: $dir + "kv3.jpg";
    background: url($image) no-repeat center;
    background-size: 100% auto;
    background-position:
      0 45px,
      top;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: -1;
  }
  &.IGD2024_ACER {
    &:before {
      $image: $ori_acer + "kv3.jpg";
      background: url($image) no-repeat center;
      background-size: 100% auto;
      background-position:
        0 45px,
        top;
    }
  }
  &.IGD2024_MSI {
    &:before {
      $image: $ori_msi + "kv3.jpg";
      background: url($image) no-repeat center;
      background-size: 100% auto;
      background-position:
        0 45px,
        top;
    }
    .protitle {
      display: none;
    }
  }
  &.IGD2024_LENOVO {
    background: #01075b;
    &:before {
      $image: $ori_lenovo + "kv3.jpg";
      background: url($image) no-repeat center;
      background-size: 100% auto;
      background-position:
        0 45px,
        top;
    }
  }
}

.bg01 {
  background: #203db4;
  margin: 0 auto 2%;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
}

.more {
  font-size: 0;
  padding: 0;
}

section {
  .title {
    width: 25%;
  }
}

#intel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;

  .background {
    width: 100%;
    height: 0;
    position: relative;
    margin: 0 auto 0;
    padding-bottom: 40%;
    .title {
      width: 40%;
      position: absolute;
      left: 14%;
      top: 17%;
      animation: blurFadeIn 1.8s linear;
      z-index: 2;
    }
    .product {
      width: 26%;
      position: absolute;
      right: 21%;
      top: 27%;
      animation: upAndDown 0.8s linear infinite alternate;
    }
    .portal {
      width: 70%;
      position: absolute;
      top: 0;
    }
  }
}

.special-box {
  li {
    width: 45%;
    margin: 0 10px 2%;
    &.muti {
      position: relative;
      .links {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 18%;
          margin: 0 13%;
          &:first-of-type {
            width: 15%;
          }
        }
      }
    }
    &.slide {
      overflow: hidden;
    }
  }
}

.tab-area {
  .tab {
    .swiper-slide {
      filter: saturate(0);
      &.active {
        filter: saturate(1);
      }
    }
  }
  .title {
    width: 35%;
  }
}

.special-box {
  .special {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      width: 44%;
      margin: 0 5px;
    }
  }
}

.pro-box {
  a {
    margin-bottom: 5%;
  }
}

.store-group {
  a {
    width: 75%;
  }
}

#slide-area {
  display: none;
}

.lap-box {
  .title {
    width: 35%;
  }
}

/*  電腦版其他尺寸 */

@include media-query("mobile", "992px") {
  #intel-container {
    .background {
      padding-bottom: 50vw;
      .title {
        width: 55vw;
        left: -1vw;
        top: 7vw;
      }
      .portal {
        display: none;
      }
    }
  }

  body {
    &:before {
      background-size: 120% auto;
      background-position:
        -10vw 4vw,
        top;
    }
    &.IGD2024_ACER,
    &.IGD2024_MSI,
    &.IGD2024_LENOVO {
      &:before {
        background-size: 120% auto;
        background-position:
          -10vw 4vw,
          top;
      }
    }
  }

  section {
    .title {
      width: 35vw;
    }
  }

  .tab-area {
    .title {
      width: 55vw;
    }
  }

  .store-group {
    a {
      width: 90vw;
    }
  }

  .tab1-box {
    .tab {
      .swiper-wrapper {
        justify-content: left;
      }
    }
  }

  .IGD2024_ACER {
    .tab1-box {
      .tab {
        .swiper-wrapper {
          justify-content: center;
        }
      }
    }
  }

  .lap-box {
    .title {
      width: 55vw;
    }
  }
}

/* 手機版 */
@include media-query("mobile", "768px") {
}
@include media-query("mobile", "576px") {
  .fix_btn {
    display: block;
    .dropdown-menu {
      display: none;
    }
  }

  #intel-container {
    .background {
      padding-bottom: 80vw;
      .title {
        width: 80vw;
        left: -6vw;
        top: 14vw;
      }
    }
  }

  body {
    &:before {
      background-size: 180% auto;
      background-position:
        -56vw 10vw,
        top;
    }
    &.IGD2024_ACER,
    &.IGD2024_MSI,
    &.IGD2024_LENOVO {
      &:before {
        background-size: 180% auto;
        background-position:
          -56vw 10vw,
          top;
      }
    }
  }

  section {
    .title {
      width: 45vw;
    }
  }

  .special-box {
    li {
      width: 90vw;
      margin: 0 5px 5%;
    }
  }

  .tab-area {
    .title {
      width: 80vw;
    }
  }

  .lap-box {
    .title {
      width: 80vw;
    }
  }
}
