@charset "utf-8";

@import "../../assets/sass/module/base";

/*  共用樣式調整 */
body {
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    top: 0;
  }
}

.bg01 {
  padding: 1.5%;
  box-sizing: border-box;
  position: relative;
  background: none;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    box-shadow: 0px 0px 3px 3px #ffffff8f;
    border-radius: 50px;
    box-sizing: border-box;
    z-index: -1;
  }
}

#staff-container {
  .background {
    width: 100%;
    height: 100%;
    position: relative;
    .title {
      width: 45%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 31%;
      animation: slide-down 1.5s ease-in;
      img {
        animation: wave-move 1.8s linear infinite alternate;
        animation-delay: 1s;
      }
    }

    .logo {
      width: 15%;
      height: auto;
      display: block;
      position: absolute;
      top: 25%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .mark {
      width: 20%;
      position: absolute;
      top: 45px;
      right: 5%;
    }
  }
}

section {
  .no {
    pointer-events: none;
    cursor: auto;
  }
}

.store-group {
  min-width: 40%;
  .buttons {
    @include flex-arrange;
    a {
      width: 47%;
      margin: 0 1px 2%;
    }
  }
}

.info-group {
  .title {
    margin: 0 auto;
    color: #fff;
    background: red;
    padding: 1%;
    font-size: 2em;
    font-weight: bold;
    font-weight: bold;
    box-sizing: border-box;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  .text {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    background: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 18px;
    ol {
      li {
        margin-bottom: 5px;
        word-break: break-all;
        .red {
          color: red;
          font-weight: bold;
        }
      }
      p {
        padding-left: 20px;
      }
      .other {
        padding-left: 30px;
      }
    }
    .last {
      margin-bottom: 20px;
    }
  }
}

/*  電腦版其他尺寸 */
@include media-query("mobile", "992px") {
  body {
    &:before {
      background-size: 120% auto;
      background-position:
        -10vw 4vw,
        top;
    }
  }

  #staff-container {
    .background {
      padding-bottom: 53vw;
      .logo {
        width: 30vw;
        top: 12vw;
      }
      .title {
        width: 80vw;
        top: 16vw;
      }
    }
  }

  .bg01 {
    padding: 1%;
    box-sizing: border-box;
    &:before {
      border-radius: 20px;
      box-sizing: border-box;
    }
  }

  .info-group {
    .title {
      width: 80%;
    }
    .text {
      width: 95%;
      font-size: 20px;
    }
  }
}

@include media-query("mobile", "576px") {
  .fix_btn {
    .dropdown-menu {
      display: none;
    }
  }
  #staff-container {
    .background {
      padding-bottom: 70vw;
      .title {
        width: 95vw;
        top: 27vw;
      }
      .logo {
        width: 45vw;
        top: 21vw;
      }
    }
  }

  body {
    &:before {
      background-size: 180% auto;
      background-position:
        -52vw 10vw,
        top;
    }
  }

  .bg01 {
    &:before {
      box-shadow: 0px 0px 2px 2px #ffffff8f;
      border-radius: 10px;
      box-sizing: border-box;
    }
  }

  .info-group {
    .title {
      width: 90%;
      font-size: 1.3em;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-sizing: border-box;
    }
    .text {
      width: 100%;
      font-size: 16px;
      padding: 3%;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
